---
import BaseLayout from '~/layouts/BaseLayout.astro';
import PodcastDetailApp from '~/components/podcast/PodcastDetailApp';
import PodcastSearchBarWithProvider from '~/components/search/PodcastSearchBarWithProvider';

export const prerender = false;

const { showId } = Astro.params;

if (!showId) {
  throw new Error('showId parameter missing');
}

---

<BaseLayout
  title="Podcast"
  description="Deep dive into a single podcast with progress, rating, and episode controls."
>
  <PodcastSearchBarWithProvider slot="search" client:only="react" />
  <section class="min-h-screen">
    <PodcastDetailApp client:only="react" showId={showId} />
  </section>
</BaseLayout>
