#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end
#set($result = $util.dynamodb.toMapValues($ctx.result).Attributes)
#set($response = $util.map())
$util.qr($response.put("showId", $result.showId))
$util.qr($response.put("title", $result.title))
$util.qr($response.put("publisher", $result.publisher))
$util.qr($response.put("image", $result.image))
$util.qr($response.put("addedAt", $result.addedAt))
$util.qr($response.put("totalEpisodes", $result.totalEpisodes))
$util.qr($response.put("ratingStars", null))
$util.qr($response.put("ratingReview", null))
$util.qr($response.put("ratingUpdatedAt", null))
$util.toJson($response)
