#set($now = $util.time.nowISO8601())
#set($pk = "user#${ctx.identity.sub}")
#set($sk = "sub#${ctx.args.showId}")
#set($totalEpisodes = $util.defaultIfNull($ctx.args.totalEpisodes, 0))
#set($item = $util.map())
$util.qr($item.put("pk", $pk))
$util.qr($item.put("sk", $sk))
$util.qr($item.put("dataType", "subscription"))
$util.qr($item.put("showId", $ctx.args.showId))
$util.qr($item.put("title", $ctx.args.title))
$util.qr($item.put("publisher", $ctx.args.publisher))
$util.qr($item.put("image", $ctx.args.image))
$util.qr($item.put("totalEpisodes", $totalEpisodes))
$util.qr($item.put("subscriptionSyncedAt", $now))
$util.qr($item.put("addedAt", $now))
#set($key = $util.map())
$util.qr($key.put("pk", $pk))
$util.qr($key.put("sk", $sk))
$util.qr($ctx.stash.put("addedAt", $now))
$util.qr($ctx.stash.put("totalEpisodes", $totalEpisodes))
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": $util.dynamodb.toMapValues($key),
  "attributeValues": $util.dynamodb.toMapValues($item)
}
