#set($now = $util.time.nowISO8601())
#set($pk = "user#${ctx.identity.sub}")
#set($sk = "sub#${ctx.args.showId}")
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk)
  },
  "attributeValues": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk),
    "dataType": $util.dynamodb.toDynamoDBJson("subscription"),
    "showId": $util.dynamodb.toDynamoDBJson($ctx.args.showId),
    "title": $util.dynamodb.toDynamoDBJson($ctx.args.title),
    "publisher": $util.dynamodb.toDynamoDBJson($ctx.args.publisher),
    "image": $util.dynamodb.toDynamoDBJson($ctx.args.image),
    "totalEpisodes": $util.dynamodb.toDynamoDBJson($util.defaultIfNull($ctx.args.totalEpisodes, 0)),
    "subscriptionSyncedAt": $util.dynamodb.toDynamoDBJson($now),
    "addedAt": $util.dynamodb.toDynamoDBJson($now)
  },
  "returnValues": "ALL_NEW"
}
