{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson("user#" + $ctx.identity.sub),
    "sk": $util.dynamodb.toDynamoDBJson("sub#" + $ctx.args.showId)
  },
  "attributeValues": {
    "pk": $util.dynamodb.toDynamoDBJson("user#" + $ctx.identity.sub),
    "sk": $util.dynamodb.toDynamoDBJson("sub#" + $ctx.args.showId),
    "dataType": $util.dynamodb.toDynamoDBJson("subscription"),
    "showId": $util.dynamodb.toDynamoDBJson($ctx.args.showId),
    "title": $util.dynamodb.toDynamoDBJson($ctx.args.title),
    "publisher": $util.dynamodb.toDynamoDBJson($ctx.args.publisher),
    "image": $util.dynamodb.toDynamoDBJson($ctx.args.image),
    "totalEpisodes": $util.dynamodb.toDynamoDBJson($util.defaultIfNull($ctx.args.totalEpisodes, 0)),
    "addedAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
  },
  "returnValues": "ALL_NEW"
}
