#set($now = $util.time.nowISO8601())
#set($expression = "SET ratingStars = :stars, ratingUpdatedAt = :updated")
#set($removeExpression = "")
#set($hasReview = $ctx.args.containsKey("review") && !$util.isNull($ctx.args.review))
#if($hasReview)
  #set($expression = "${expression}, ratingReview = :review")
#else
  #set($removeExpression = " REMOVE ratingReview")
#end
#set($userPk = "user#" + $ctx.identity.sub)
#set($subscriptionSk = "sub#" + $ctx.args.showId)
{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($userPk),
    "sk": $util.dynamodb.toDynamoDBJson($subscriptionSk)
  },
  "update": {
    "expression": "${expression}${removeExpression}",
    "expressionValues": {
      ":stars": $util.dynamodb.toDynamoDBJson($ctx.args.stars),
      ":updated": $util.dynamodb.toDynamoDBJson($now)#if($hasReview)
      ,":review": $util.dynamodb.toDynamoDBJson($ctx.args.review)#end
    }
  },
  "condition": {
    "expression": "attribute_exists(pk) AND attribute_exists(sk)"
  }
}
