#set($now = $util.time.nowISO8601())
#set($pk = "user#${ctx.identity.sub}")
#set($sk = "sub#${ctx.args.showId}")
#set($totalEpisodes = $util.defaultIfNull($ctx.args.totalEpisodes, 0))
$util.qr($ctx.stash.put("addedAt", $now))
$util.qr($ctx.stash.put("totalEpisodes", $totalEpisodes))
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk)
  },
  "attributeValues": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk),
    "dataType": $util.dynamodb.toDynamoDBJson("subscription"),
    "showId": $util.dynamodb.toDynamoDBJson($ctx.args.showId),
    "title": $util.dynamodb.toDynamoDBJson($ctx.args.title),
    "publisher": $util.dynamodb.toDynamoDBJson($ctx.args.publisher),
    "image": $util.dynamodb.toDynamoDBJson($ctx.args.image),
    "totalEpisodes": $util.dynamodb.toDynamoDBJson($totalEpisodes),
    "subscriptionSyncedAt": $util.dynamodb.toDynamoDBJson($now),
    "addedAt": $util.dynamodb.toDynamoDBJson($now)
  }
}
