#set($pk = $util.strings.append("user#", $ctx.identity.sub))
#set($sk = $util.strings.append("sub#", $ctx.args.showId))
{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk)
  }
}
