#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end
#set($item = $util.dynamodb.toMapValues($ctx.result))
$util.qr($item.remove("pk"))
$util.qr($item.remove("sk"))
$util.qr($item.remove("dataType"))
$util.toJson($item)
