#set($pk = "user#${ctx.identity.sub}")
#set($sk = "sub#${ctx.args.showId}")
{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk)
  },
  "returnValues": "ALL_OLD"
}
