{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "pk = :pk",
    "expressionValues": {
      ":pk": $util.dynamodb.toDynamoDBJson("show#" + $ctx.args.showId)
    }
  },
  "nextToken": $util.toJson($ctx.args.nextToken),
  "limit": $util.defaultIfNull($ctx.args.limit, 20)
}
