#set($items = [])
#foreach($item in $ctx.result.items)
  #set($copy = $util.dynamodb.fromMapValues($item))
  #if($util.isNull($copy))
    #set($copy = $util.parseJson($util.toJson($item)))
  #end
  $util.qr($copy.remove("pk"))
  $util.qr($copy.remove("sk"))
  $util.qr($copy.remove("dataType"))
  $util.qr($items.add($copy))
#end
$util.toJson({
  "items": $items,
  "nextToken": $ctx.result.nextToken
})
