#if(!$ctx.result)
  $util.toJson(null)
#else
  #set($item = $util.dynamodb.toMapValues($ctx.result))
  $util.qr($item.remove("pk"))
  $util.qr($item.remove("sk"))
  $util.qr($item.remove("dataType"))
  $util.toJson($item)
#end
