#set($items = [])
#foreach($item in $ctx.result.items)
  #set($copy = $util.parseJson($util.toJson($item)))
  $util.qr($copy.remove("pk"))
  $util.qr($copy.remove("sk"))
  $util.qr($copy.remove("dataType"))
  $util.qr($items.add($copy))
#end
#set($payload = {
  "items": $items
})
#if($ctx.result.containsKey("nextToken"))
  $util.qr($payload.put("nextToken", $ctx.result.nextToken))
#end
$util.toJson($payload)
