---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ProfileApp from "../../../components/profile/ProfileApp";
import PodcastSearchBarWithProvider from "../../../components/search/PodcastSearchBarWithProvider";
---

<BaseLayout
  title="Profile"
  description="Track your podcasts, celebrate progress, and see what's waiting next."
>
  <div slot="search" class="relative py-4">
    <PodcastSearchBarWithProvider client:only="react" />
  </div>
  <section class="relative flex min-h-screen w-full flex-col">
    <ProfileApp client:only="react" />
  </section>
</BaseLayout>
